/* Color palette #D79922  #EFE2BA #F13C20 #4056A1 #C5CBE3 */

/* Global Edits */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Makes rem = 10px */
html {
    font-size: 62.5%;   
}

body {
    font-family: 'Poppins', sans-serif;
}

h1  {
    font-size: 5rem;
}

li, button, label, input, p {
    font-size: 2rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
    font-weight: lighter;
}
h4, h5 {
    font-size: 2rem;
}
a {
    color: #050404;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* First Page */
/* Navigation Bar */
.main-head {
    height: 10vh;
    background: #EFE2BA;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    flex: 1 1 60rem;
    justify-content: space-around;
    align-items: right;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    font-family: 'Monoton', cursive;
    letter-spacing: 1rem;
}

/* End of Navigation Bar */

.hero {
    background: linear-gradient(110deg, #EFE2BA  88%, #FFED4B 88%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: -40%;
}

.hero h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #D79922; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D79922; }
  }

/* Button and Animated Button */
.cta {
    padding: 2rem 6rem;
    background: #F13C20;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 1s ease-in-out;
}

.cta:hover {
    background: #D79922;
    color: #050404 ;
}

.descbutton {
    padding: 4rem;
}

.hero-box {
    height: 45%;
    width: 25%;
    background-color: #050404;
    position: absolute;
    left: 3%;
    bottom: 30%;
    content: url(images/profile-pic-beige-background.png);
    background-position: center 60%;
    display: flex;
    border-radius: 5%;
}
/* Second Page */

#about {
    height: 100vh;
    width: 100vh;
    position: absolute;
    background-color: #C5CBE3;
}


.about-box {
    height: 80vh;
    width: 70vh;
    background-color: #4056A1;
    position:relative;
    left: 95%;
    top: 10%;
    text-transform: uppercase;
}

.about-box h2 {
    position:relative;
    font: #050404;
    right: 130%;
    letter-spacing: 2rem;
}

.about-box h3 {
    padding: 2rem 0 5rem 0;
    font: #050404;

}
.about-box p {
    padding: 2rem;
    justify-content: left;
    text-align: left;
}

.testphoto {
    height: 45%;
    width: 45%;
    position: relative;
    right: 95%;
    bottom: 40%;
}
/* Third Section - Portfolio */

#portfolio {
    
}