/* Color palette #D79922  #EFE2BA #F13C20 #4056A1 #C5CBE3 */
    /* Global Edits */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Makes rem = 10px */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1  {
    font-size: 5rem;
}

li, button, label, input, p {
    font-size: 2rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
    font-weight: lighter;
}
h4, h5 {
    font-size: 2rem;
}
a {
    color: #000000;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* First Page */
/* Navigation Bar */
.main-head {
    height: 10vh;
    background: #EFE2BA;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    flex: 1 1 60rem;
    justify-content: space-around;
    align-items: right;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    font-family: 'Monoton', cursive;
    letter-spacing: 1rem;
}

/* End of Navigation Bar */

.hero {
    background: linear-gradient(110deg, #EFE2BA  88%, #D79922 88%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.hero h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #D79922; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D79922; }
  }

/* Button and Animated Button */
.cta {
    padding: 2rem 6rem;
    background: #F13C20;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 1s ease-in-out;
    box-shadow: 0px 0px 10px black;
}

.cta:hover {
    background: #D79922;
    color: #050404 ;
}

.descbutton {
    padding: 2rem;
}
/* Second Page */

#about {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    background: linear-gradient(90deg, #405681 70%, #fffefe 30%);
}

.about-box {
    height: 80%;
    position: relative;
    width: 70vh;
    text-transform: uppercase;
    background-color: white;
    left: 50%;
    top: 10%;
    box-shadow: 0 0 20px;
}

.about-box h2 {
    position:relative;
    color: #fffeff;
    white-space: nowrap;
    right: 125%;
    font-weight: 700; 
}
.about-box h3 {
    padding: 2rem 0 5rem 0;
    font: #050404;
    text-align: center;
    position: relative;
    bottom: 5.9rem;
    font-size: 4rem;
    font-weight: 700;
}

.about-box p {
    padding: 2rem;
    justify-content: left;
    text-align: left;
    position: relative;
    top: 25%;
}

.profile-pic {
    height: 30%;
    width: 30%;
    position: absolute;
    bottom: 60%;
    left: 30%;
}

/* Portfolio Page */

#portfolio {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #fffefe 70%, #F13C20 30%);
}

#contact {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #D79922 70%, #fffeff 30%);
    display: flex;
    flex-wrap: wrap;
}

  .form-wrapper {
    flex: 3 1 40rem;
  }
  .form-wrapper h2 {
    margin: 5rem 0rem;
  }
  .form-wrapper span {
    font-size: 10rem;
    color: blue;
  }
  .form-wrapper label {
    display: block;
  }
  .form-wrapper input {
    display: block;
    margin: 3rem 0rem;
    background: white;
    color: white;
    border: none;
    padding: 1rem;
  }
  .form-wrapper button {
    padding: 1rem 8rem;
    background: blue;
    color: white;
    border: none;
    width: 100%;
  }

  footer {
    background: #EFE2BA;
    color: white;
    display: flex;
    padding: 2rem 5%;
    align-items: center;
    flex-wrap: wrap;
  }
  footer ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
  }
  footer h4 {
    flex: 3 1 40rem;
    font-size: calc(1.4rem + 1vw);
  }
  
  
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo {
        padding: 1rem;
        text-align: center;
    }

    .about {
        font-size: 45%;
        text-align: center;
        margin: auto;
    }
    .about-box {
        margin: auto;
    }

}